@import "~bootstrap/dist/css/bootstrap.css";

app-details-page {
  background-color: #F9F9F9;
}

.car-single-widget {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}

.pull-left {
  float: left;
}

button {
  float: right;
}

img {
  border-radius: 10px;
}
